{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

	<link rel="stylesheet" href="{% static 'css/bootstrap_files_dashboard_template/bootstrap.min.css' %} ">

	<link rel="stylesheet" href="{% static 'css/bootstrap_files_dashboard_template/dashboard.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/fontello/css/fontello.css' %}">

	<link rel="stylesheet" href="{% static 'css/app.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">

	<title>Archivos Compartidos</title>
</head>

<body>

	<script>
		showData();

		async function showData() {
			try {
				const socket = new WebSocket('ws://192.168.0.6:5678/');
				await socket.addEventListener('message', async (event) => {
					
					let ip = '';
					let array = [];
					let file = {};
					let files = [];
					let data = event.data;
					array = JSON.parse(data);
					ip = array[0];
					array.shift();
					array.map((el) => {
						file = JSON.parse(el);
						files.push(file);
					})
				});
			} catch (e) {
				console.error(e);
			}
		}
	</script>

	<!-- header -->
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow barra">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0">Información de conexión</a>
	</nav>
	<!-- body -->
	<div class="container-fluid">
		<div class="row">
			<div>
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<div class="card" style="width: 15.5rem;">
							<div align="center"><img class="img-card" src="{% static 'images/logouv.png' %}" width="200"
									height="150" alt="Card image cap"></div>
							<div class="card-body">
								<h5 class="card-title">FILEMSICU <br> Visualizador de archivos</h5>
								<h6 class="card-subtitle mb-2 text-muted">Sistema desarrollado como parte de la
									actividad Lab 04.</h6>
							</div>
						</div>
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link textobanner">
									<span><i class="icon-home-circled iconosbanner"></i></span>
									Servidor
									<input class="form-control form-control-dark w-100" type="text"
										placeholder="Estado de la conexión" id="conexion" readonly>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link textobanner">
									<span><i class="icon-group-circled iconosbanner"></i></span>
									Equipo conectado:
									<input class="form-control form-control-dark w-100" type="text"
										placeholder="Nombre del equipo" id="nom_equipo" readonly>
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
			<div class="bienvenida d-block d-sm-none d-none d-sm-block d-md-none">
				<div class="row">
					<div class="col-12">
						<span class="cover-img">
							<img class="mx-auto d-block" src="{% static 'images/logouv.png' %}" alt="">
							<h4 class="text-center">FILEMSICU Visualizador de archivos</h4>
							<p class="text-center text-muted">Sistema desarrollado como parte de la actividad Lab 04</p>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<span>
							<a class="nav-link textobanner">
								<span><i class="icon-home-circled iconosbanner"></i></span>
								Servidor
								<input class="form-control form-control-dark w-100" type="text"
									placeholder="Estado de la conexión" id="conexion" readonly>
							</a>
						</span>
					</div>
					<div class="col-xs-12 col-sm-6">
						<span>
							<a class="nav-link textobanner">
								<span><i class="icon-group-circled iconosbanner"></i></span>
								Equipo conectado:
								<input class="form-control form-control-dark w-100" type="text" placeholder="Nombre del equipo"
									id="nom_equipo" readonly>
							</a>
						</span>
					</div>
				</div>
			</div>

			<div class="chartjs-size-monitor"></div>

			<div class="Contenedores">
				<h2>Lista de archivos compartidos en la conexión</h2>
			</div>

			<div>
				<div class="container-fluid table-responsive Contenedores">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Icono</th>
								<th>ID</th>
								<th>Nombre del archivo</th>
								<th>Tamaño del archivo</th>
								<th>Fecha de modificación</th>
								<th>Ubicación del archivo</th>
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<td></td>
								<td>1</td>
								<td class="docu">correo</td>
								<td>2000</td>
								<td>20/08</td>
								<td>C:/users</td>
							</tr>
							
						</tbody>
					</table>
				</div>

				<h3>Detalles del archivo seleccionado:</h3>
				<div class="container-fluid Contenedores">

					<label class="mb-2 mr-sm-2">Nombre de archivo:</label>
					<input type="text" class="form-control form-control-mb" id="archivo" placeholder="Nombre del archivo"
						name="archivo" readonly>

					<label class="mb-2 mr-sm-2">Fecha de creación:</label>
					<input type="text" class="form-control form-control-mb" id="fercha1" placeholder="DD-MM-AAAA"
						name="fecha1" readonly>

					<label class="mb-2 mr-sm-2">Fecha de ultima modificación:</label>
					<input type="text" class="form-control form-control-mb" id="fecha2" placeholder="DD-MM-AAAA"
						name="fecha2" readonly>

					<label class="mb-2 mr-sm-2">Datos de modificación:</label>
					<input type="text" class="form-control form-control-mb" id="modificacion" placeholder="Modificacion"
						name="modificacion" readonly>

					<label class="mb-2 mr-sm-2">Disponible en:</label>
					<input type="text" class="form-control form-control-mb" id="archivo" placeholder="Dirección del equipo"
						name="disponibilidad" readonly>

					<label class="mb-2 mr-sm-2">Tamaño del archivo:</label>
					<input type="text" class="form-control form-control-mb" id="tamaño" placeholder="Tamaño del archivo"
						name="tamaño" readonly>

				</div>
			</div>
		</main>
	</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
        		        $('table tr').each(function(){
					          //var texto = $('table tr:nth-child td:nth-child(3)').text();
					          var texto = $(this).find("td").eq(2).html();
					          var indice = $(this).closest('tr').find('td:first');
					          if(!texto){

					          }else{
					          	asignarIcono(texto,indice);
					          }
					    });

			function asignarIcono(texto,indice) {
			    var extension = texto.substr( (texto.lastIndexOf('.') +1) );
			    switch(extension){
							case 'txt':
							case 'TXT':
								indice.append('<i class="far fa-file-alt"></i>');
								break;
							case 'py':
							case 'js':
							case 'php':
								indice.append('<i class="far fa-file-code"></i>');
								break;
							case 'sql':
							case 'sqlite3':
								indice.append('<i class="far fa-file"></i>');
								break;
							case 'PDF' :
							case 'pdf':
								indice.append('<i class="far fa-file-pdf"></i>');
								break;
							case 'doc':
							case 'DOC':
							case 'DOCX':
							case 'docx':
								indice.append('<i class="far fa-file-word"></i>"');
								break;
							case 'pptx':
							case 'PPTX':
								indice.append('<i class="far fa-file-powerpoint"></i>');
								break;
							case 'png':
							case 'PNG':
							case 'jpg':
							case 'JPG':
							case 'JPEG':
							case 'jpeg':
								indice.append('<i class="far fa-image"></i>');
								break;
							case 'xlsx':
							case 'XLSX':
							case 'XLS':
							case 'xls':
								indice.append('<i class="far fa-file-excel"></i>');
								break;
							default:
								indice.append('<i class="far fa-copy"></i>');
								break;
				}
			};

            $(".docu").click(function() {
                    var variable_recuperada = "";
                    variable_recuperada = $(this).text();
                $.ajax({
                  url: "http://18.222.29.189:8000/api/archivo/" +variable_recuperada,
                })
                  .done(function( data ) {
                    console.log(data);
                    $('#archivo').val(data.nombre);
                    $('#fercha1').val(data.fecha);
                    $('#fecha2').val(data.fecha);
                    $('#modificacion').val(data.fecha);
                    $('#disponibilidad').val(data.ubicacion);
                    $('#tamaño').val(data.tamano + 'Kb');
                  });
                });

        });
    </script>
</html>